
.page-header {
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}

form {
    padding: 10px;
}

h2 {
    color: black;
}

.weather-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-today {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center;
    justify-content: center; */
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 10px;
}

.current-day {
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.weatherClass{
    /* background: rgba(24,24,27,0.8); */
    padding: 25px;
    /* position: fixed; */
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* overflow-y: hidden; */
}

.uvIndexGood {
    background-color: chartreuse;
}

.uvIndexOk {
    background-color: yellow;
}

.uvIndexBad {
    background-color: red;
}

.weather-day{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 10px;
    background: darkblue
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
}